{% extends "design.html" %}
{% block content %}
    <div class="col-md-6">
        <h1>Team 1</h1>
    </div>
    <div class="col-md-6">
        <h1>Team 2</h1>
    </div>
    {% for summoner in summoners %}
        <div class="col-md-6">
            <div class="content-section">
                <div class="media">
                    <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + summoner.summoner_icon) }}">
                    <div class="media-body">
                        <h2 class="account-heading">{{ summoner.username }}</h2>
                        <p class="text-">{{ summoner.rank }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}